git+https://github.com/thisbejim/Pyrebase
git+https://github.com/EQUENOS/disnake
git+https://github.com/CNDRD/RainbowSixSiege-Python-API@v1.5.4


beautifulsoup4==4.10.0
requests==2.25.1
humanfriendly==10.0
numpy==1.21.2
numerize==0.12
PyYAML==5.4.1
pytz==2021.3
nest-asyncio==1.5.1
python-dotenv==0.19.0
