git+https://github.com/thisbejim/Pyrebase
git+https://github.com/EQUENOS/disnake
git+https://github.com/CNDRD/RainbowSixSiege-Python-API@1.5.4


beautifulsoup4==4.9.3
requests==2.25.1
humanfriendly==9.1
numpy==1.19.0
numerize==0.12
PyYAML==5.3.1
pytz==2020.1
nest-asyncio==1.5.1
python-dotenv==0.17.1
